<p id="notice"><%= notice %></p>

<h1>Benefits</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th>Image</th>
      <th>Bold</th>
      <th>Information</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @benefits.each do |benefit| %>
      <tr>
        <td><%= benefit.page_id %></td>
        <td><%= benefit.image %></td>
        <td><%= benefit.bold %></td>
        <td><%= benefit.information %></td>
        <td><%= benefit.language %></td>
        <td><%= link_to 'Show', benefit %></td>
        <td><%= link_to 'Edit', edit_benefit_path(benefit) %></td>
        <td><%= link_to 'Destroy', benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Benefit', new_benefit_path %>