<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @benefit.page_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @benefit.image %>
</p>

<p>
  <strong>Bold:</strong>
  <%= @benefit.bold %>
</p>

<p>
  <strong>Information:</strong>
  <%= @benefit.information %>
</p>

<p>
  <strong>Language:</strong>
  <%= @benefit.language %>
</p>

<%= link_to 'Edit', edit_benefit_path(@benefit) %> |
<%= link_to 'Back', benefits_path %>
