<%= form_with(model: page, local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lead %>
    <%= form.text_field :lead %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :cta_text %>
    <%= form.text_field :cta_text %>
  </div>

  <div class="field">
    <%= form.label :sub_cta %>
    <%= form.text_field :sub_cta %>
  </div>

  <div class="field">
    <%= form.label :terms %>
    <%= form.text_field :terms %>
  </div>

  <div class="field">
    <%= form.label :benefits_header %>
    <%= form.text_field :benefits_header %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :product_price %>
    <%= form.text_field :product_price %>
  </div>

  <div class="field">
    <%= form.label :product_frequency %>
    <%= form.text_field :product_frequency %>
  </div>

  <div class="field">
    <%= form.label :product_info %>
    <%= form.text_field :product_info %>
  </div>

  <div class="field">
    <%= form.label :product_features %>
    <%= form.text_area :product_features %>
  </div>

  <div class="field">
    <%= form.label :product_cta %>
    <%= form.text_field :product_cta %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
