<style>
  .hero_cta {
    background-color: #fff;
    color: #000; 
    transition: all; 
    display: inline-block;
  }
  .hero_cta:hover {
    transform: scale(1.05);
  }  

  #lead {
    font-size: 3rem;
  }

  .sub2 {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    #lead {
      font-size: 4rem;
    }

    .sub2 {
      font-size: 1.125rem;
    }    
  }
</style>

<div class="index-homepage text-center md:pt-32">
  <div class="flex flex-wrap mb-4">
    <div id="hero" class="w-full min-h-64 pt-40 md:pt-32 px-5 md:px-16 bg-no-repeat bg-contain bg-right-bottom">
      <h1 id="lead" class="font-semibold ">My Spotify Exercise.</h1><br>
      <h2 class="sub2" class="font-medium">Steve Farnworth, Digital Content Builder 😉</h2>
      <a class="hero_cta w-full md:w-auto text-center tracking-widest font-medium uppercase py-2 px-4 rounded-full px-12 py-3 my-10" href="/uk/premium">
        UK Premium Page
      </a>
      <br><br>
      <div class="flex flex-wrap mt-12">
        <div class="w-full md:w-1/4 flex flex-wrap md:justify-center text-left md:text-center mb-10">
          <div class="w-2/5 md:w-full md:pb-5 text-left md:text-center font-semibold">
            <span class="text-5xl"><%= icon('fas', 'file-alt') %></span>
          </div>
          <div class="w-3/5 md:w-full">
            <span class="font-semibold text-xl">Multiple pages.</span><br>
            All styled against existing Spotify pages, colours and imagery.
            <br><br>
          </div>
        </div>
        <br>
        <div class="w-full md:w-1/4 flex flex-wrap md:justify-center text-left md:text-center mb-10">
          <div class="w-2/5 md:w-full md:pb-5 text-left md:text-center font-semibold">
            <span class="text-5xl"><%= icon('fas', 'code') %></span>
          </div>
          <div class="w-3/5 md:w-full">
            <span class="font-semibold text-xl">Custom CMS.</span><br>
            Built from scratch in Ruby on Rails, but easily possible in any off the shelf CMS.
            <br><br>
          </div>
        </div>
        <br>
        <div class="w-full md:w-1/4 flex flex-wrap md:justify-center text-left md:text-center mb-10">
          <div class="w-2/5 md:w-full md:pb-5 text-left md:text-center font-semibold">
            <span class="text-5xl"><%= icon('fas', 'language') %></span>
          </div>
          <div class="w-3/5 md:w-full">
            <span class="font-semibold text-xl">Language and Country choice.</span><br>
            Separate selections for language and country. 2 languages live.
            <br><br>
          </div>
        </div>
        <br>
        <div class="w-full md:w-1/4 flex flex-wrap md:justify-center text-left md:text-center mb-10">
          <div class="w-2/5 md:w-full md:pb-5 text-left md:text-center font-semibold">
            <span class="text-5xl"><%= icon('fas', 'mobile-alt') %></span>
          </div>
          <div class="w-3/5 md:w-full">
            <span class="font-semibold text-xl">Responsive.</span><br>
            Works on mobile and desktop - a few more things to tweak, but close.
            <br><br>
          </div>
        </div>
        <br>   
      </div>               


    </div>
  </div>
  <br><br>
</div>