<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Lead</th>
      <th>Subtitle</th>
      <th>Cta text</th>
      <th>Sub cta</th>
      <th>Terms</th>
      <th>Benefits header</th>
      <th>Product name</th>
      <th>Product price</th>
      <th>Product frequency</th>
      <th>Product info</th>
      <th>Product features</th>
      <th>Product cta</th>
      <th>Language</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.lead %></td>
        <td><%= page.subtitle %></td>
        <td><%= page.cta_text %></td>
        <td><%= page.sub_cta %></td>
        <td><%= page.terms %></td>
        <td><%= page.benefits_header %></td>
        <td><%= page.product_name %></td>
        <td><%= page.product_price %></td>
        <td><%= page.product_frequency %></td>
        <td><%= page.product_info %></td>
        <td><%= page.product_features %></td>
        <td><%= page.product_cta %></td>
        <td><%= page.language %></td>
        <td><%= page.product_id %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
