<style>
  body {
    background-color: #000;
  }
  #select {
    min-height: 100vh;
    background-color: #fff;
  }
</style>

<div class="h-20">

</div>

<div id="select" class="text-left">
  <div class="flex mb-4">
    <div id="hero" class="w-full min-h-64 pt-40 md:pt-32 px-5 md:px-16 bg-no-repeat bg-contain bg-right-bottom">
      <h1 id="lead" class="text-5xl font-semibold ">Select your language:</h1><br>
      <a href="/language/en/" class="market pull-left" rel="en" title="English">
        English
      </a>
      <br><br>
      <a href="/language/ro/" class="market pull-left" rel="ro" title="Romanian">
        Română
      </a>      
    </div>
  </div>
  <br><br>
</div>