<p id="notice"><%= notice %></p>

<p>
  <strong>Lead:</strong>
  <%= @page.lead %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @page.subtitle %>
</p>

<p>
  <strong>Cta text:</strong>
  <%= @page.cta_text %>
</p>

<p>
  <strong>Sub cta:</strong>
  <%= @page.sub_cta %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @page.terms %>
</p>

<p>
  <strong>Benefits header:</strong>
  <%= @page.benefits_header %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @page.product_name %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @page.product_price %>
</p>

<p>
  <strong>Product frequency:</strong>
  <%= @page.product_frequency %>
</p>

<p>
  <strong>Product info:</strong>
  <%= @page.product_info %>
</p>

<p>
  <strong>Product features:</strong>
  <%= @page.product_features %>
</p>

<p>
  <strong>Product cta:</strong>
  <%= @page.product_cta %>
</p>

<p>
  <strong>Language:</strong>
  <%= @page.language %>
</p>

<p>
  <strong>Product:</strong>
  <%= @page.product_id %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
