.flag-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: 12px;
  height: 1em;
  width: 1.33333333em;
}
.flag-icon-int {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/int.svg);
}
.flag-icon-ad {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ad.svg);
}
.flag-icon-ae-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ae.svg);
}
.flag-icon-ae-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ae.svg);
}
.flag-icon-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ar.svg);
}
.flag-icon-at {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/at.svg);
}
.flag-icon-au {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/au.svg);
}
.flag-icon-be-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/be.svg);
}
.flag-icon-be-nl {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/be.svg);
}
.flag-icon-bg {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/bg.svg);
}
.flag-icon-bh-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/bh.svg);
}
.flag-icon-bh-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/bh.svg);
}
.flag-icon-bo {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/bo.svg);
}
.flag-icon-br {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/br.svg);
}
.flag-icon-ca-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ca.svg);
}
.flag-icon-ca-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ca.svg);
}
.flag-icon-ch-de {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ch.svg);
}
.flag-icon-ch-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ch.svg);
}
.flag-icon-cl {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/cl.svg);
}
.flag-icon-co {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/co.svg);
}
.flag-icon-cr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/cr.svg);
}
.flag-icon-cy {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/cy.svg);
}
.flag-icon-cz {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/cz.svg);
}
.flag-icon-de {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/de.svg);
}
.flag-icon-dk {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/dk.svg);
}
.flag-icon-do {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/do.svg);
}
.flag-icon-dz-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/dz.svg);
}
.flag-icon-dz-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/dz.svg);
}
.flag-icon-ec {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ec.svg);
}
.flag-icon-ee {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ee.svg);
}
.flag-icon-eg-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/eg.svg);
}
.flag-icon-eg-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/eg.svg);
}
.flag-icon-es {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/es.svg);
}
.flag-icon-fi {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/fi.svg);
}
.flag-icon-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/fr.svg);
}
.flag-icon-uk {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/gb.svg);
}
.flag-icon-gr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/gr.svg);
}
.flag-icon-gt {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/gt.svg);
}
.flag-icon-hk-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/hk.svg);
}
.flag-icon-hk-zh {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/hk.svg);
}
.flag-icon-hn {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/hn.svg);
}
.flag-icon-hu {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/hu.svg);
}
.flag-icon-id {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/id.svg);
}
.flag-icon-ie {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ie.svg);
}
.flag-icon-il-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/il.svg);
}
.flag-icon-il-he {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/il.svg);
}
.flag-icon-in {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/in.svg);
}
.flag-icon-in-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/in.svg);
}
.flag-icon-in-hi {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/in.svg);
}
.flag-icon-is {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/is.svg);
}
.flag-icon-it {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/it.svg);
}
.flag-icon-jo-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/jo.svg);
}
.flag-icon-jo-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/jo.svg);
}
.flag-icon-jp {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/jp.svg);
}
.flag-icon-kw-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/kw.svg);
}
.flag-icon-kw-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/kw.svg);
}
.flag-icon-lb-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/lb.svg);
}
.flag-icon-lb-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/lb.svg);
}
.flag-icon-li {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/li.svg);
}
.flag-icon-lt {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/lt.svg);
}
.flag-icon-lu-de {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/lu.svg);
}
.flag-icon-lu-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/lu.svg);
}
.flag-icon-lv {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/lv.svg);
}
.flag-icon-ma-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ma.svg);
}
.flag-icon-ma-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ma.svg);
}
.flag-icon-mc {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/mc.svg);
}
.flag-icon-mt {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/mt.svg);
}
.flag-icon-mx {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/mx.svg);
}
.flag-icon-my-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/my.svg);
}
.flag-icon-my-ms {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/my.svg);
}
.flag-icon-ni {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ni.svg);
}
.flag-icon-nl {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/nl.svg);
}
.flag-icon-no {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/no.svg);
}
.flag-icon-nz {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/nz.svg);
}
.flag-icon-om-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/om.svg);
}
.flag-icon-om-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/om.svg);
}
.flag-icon-pa {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/pa.svg);
}
.flag-icon-pe {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/pe.svg);
}
.flag-icon-ph {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ph.svg);
}
.flag-icon-pl {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/pl.svg);
}
.flag-icon-ps-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ps.svg);
}
.flag-icon-ps-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ps.svg);
}
.flag-icon-pt {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/pt.svg);
}
.flag-icon-py {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/py.svg);
}
.flag-icon-qa-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/qa.svg);
}
.flag-icon-qa-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/qa.svg);
}
.flag-icon-ro {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ro.svg);
}
.flag-icon-ro-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ro.svg);
}
.flag-icon-ro-ro {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/ro.svg);
}
.flag-icon-sa-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/sa.svg);
}
.flag-icon-sa-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/sa.svg);
}
.flag-icon-se {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/se.svg);
}
.flag-icon-sg-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/sg.svg);
}
.flag-icon-sg-de {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/sg.svg);
}
.flag-icon-sk {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/sk.svg);
}
.flag-icon-sv {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/sv.svg);
}
.flag-icon-th {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/th.svg);
}
.flag-icon-th-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/th.svg);
}
.flag-icon-th-th {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/th.svg);
}
.flag-icon-tn-ar {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/tn.svg);
}
.flag-icon-tn-fr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/tn.svg);
}
.flag-icon-tr {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/tr.svg);
}
.flag-icon-tw {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/tw.svg);
}
.flag-icon-us {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/us.svg);
}
.flag-icon-uy {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/uy.svg);
}
.flag-icon-vn {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/vn.svg);
}
.flag-icon-vn-en {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/vn.svg);
}
.flag-icon-vn-vi {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/vn.svg);
}
.flag-icon-za {
  background-image: url(https://sp-bootstrap.global.ssl.fastly.net/8.9.0/images/flags/za.svg);
}