<div class="w-full md:w-1/4 flex flex-wrap md:justify-center text-left md:text-center mb-10">
  <div class="w-2/5 md:w-full md:pb-5">
    <center><%= image_tag benefits.image, style: "width: 50%;" %></center>
  </div>
  <div class="w-3/5 md:w-full">
    <span class="font-semibold text-xl"><%= benefits.bold %></span><br>
    <%= benefits.information %>
    <br><br>
  </div>
</div>
<br>