<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Header color</th>
      <th>Header text color</th>
      <th>Header image</th>
      <th>Header cta colour</th>
      <th>Header cta text color</th>
      <th>Country</th>
      <th>Currency</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.url %></td>
        <td><%= product.header_color %></td>
        <td><%= product.header_text_color %></td>
        <td><%= product.header_image %></td>
        <td><%= product.header_cta_colour %></td>
        <td><%= product.header_cta_text_color %></td>
        <td><%= product.country %></td>
        <td><%= product.currency %></td>
        <td><%= product.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
