<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<p>
  <strong>Header color:</strong>
  <%= @product.header_color %>
</p>

<p>
  <strong>Header text color:</strong>
  <%= @product.header_text_color %>
</p>

<p>
  <strong>Header image:</strong>
  <%= @product.header_image %>
</p>

<p>
  <strong>Header cta colour:</strong>
  <%= @product.header_cta_colour %>
</p>

<p>
  <strong>Header cta text color:</strong>
  <%= @product.header_cta_text_color %>
</p>

<p>
  <strong>Country:</strong>
  <%= @product.country %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @product.currency %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
