<style>
  #hero {
    background-color: #<%= @product.header_color %>;
    color: #<%= @product.header_text_color %>;    
  }
  .hero_cta {
    background-color: #<%= @product.header_cta_colour %>;
    color: #<%= @product.header_cta_text_color %>; 
    transition: all; 
    display: inline-block;
  }
  .hero_cta:hover {
    background-color: #1ED75F;
    color: #<%= @product.header_cta_text_color %>;   
    transform: scale(1.05);
  }  

  #lead {
    font-size: 3rem;
  }

  .sub2 {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    #lead {
      font-size: 5rem;
    }

    #hero {
      <% if @product.header_image.attached? %>
        background-image: url(<%= url_for(@product.header_image) %>);
      <% else %>
      <% end %>
    }

    .sub2 {
      font-size: 1.875rem;
    }    
  }
</style>

<div class="flex mb-4">
  <div id="hero" class="w-full min-h-64 pt-40 md:pt-32 px-5 md:px-16 bg-no-repeat bg-contain bg-right-bottom">
    <h1 id="lead" class="font-semibold "><%= @page.lead %></h1><br>
    <h2 class="sub2" class="font-medium"><%= @page.subtitle %></h2>
    <a class="hero_cta w-full md:w-auto text-center tracking-widest font-medium uppercase py-2 px-4 rounded-full px-12 py-3 my-10" href="https://www.spotify.com/purchase/offer/30day-intro-offer">
      <%= @page.cta_text %>
    </a> <br>
    <span class="font-light text-xs">*<%= link_to "Terms and conditions", terms_path, class: "underline" %> apply. <%= @page.sub_cta %></span><br><br>
  </div>
</div>
<br><br>

<div class="px-16 flex mb-4 justify-center">
  <h2 class="spotify-black font-semibold text-3xl md:text-5xl"><%= @page.benefits_header %></h2>
</div>
<br><br>
<div class="px-5 md:px-16 py-5 flex flex-wrap mb-4 md:justify-center">
  <%= render partial: "benefits", collection: @page.benefits %>
</div>
<br><br>
<div class="flex mb-4">
  <div class="w-0 md:w-1/4"></div>
  <div style="box-shadow: 0 0 7px #ded6d6;" class="w-full md:w-2/4 mx-5 bg-white rounded-lg px-6 p-3">
    <span class="text-2xl"><%= @page.product_name %></span><br>
    <span class="text-3xl font-semibold"><%= @product.currency %><%= @page.product_price %></span>&nbsp; / &nbsp;<%= @page.product_frequency %><br>
    <div class="text-xs text-gray-500 mb-2"><%= @page.product_info %><br></div>
    <hr>
    <br>
    <% for feature in @features %>
      <div class="my-2">
        <%= icon('fas', 'check') %> &nbsp; <%= feature %>
      </div>
    <% end %>
    <br>
    <hr>
    <a style="background-color: #1DB954; color: #fff;" class="hero_cta tracking-widest font-medium uppercase py-2 px-4 rounded-full px-12 py-3 my-2 w-full text-center" href="https://www.spotify.com/purchase/offer/30day-intro-offer">
      <%= @page.product_cta %>
    </a>  
  </div>
  <div class="w-0 md:w-1/4"></div>
</div>

<br><br>

<div class="flex mb-4">
  <div class="w-0 md:w-1/4"></div>
  <div style="box-shadow: 0 0 7px #ded6d6;" class="w-full md:w-2/4 mx-5 bg-white rounded-lg px-6 p-3">
    <div class="align-middle mx-5 flex flex-wrap my-5">
      <div class="inline-block align-middle text-2xl w-full md:w-2/3">Spotify Premium</div>
      <div style="color: #1ED75F;" class="inline-block mt-2 align-middle text-md w-full md:w-1/3 md:text-right tracking-widest font-medium uppercase">
        <%= link_to "Learn More", view_product_path("uk", "premium") %>
      </div>
    </div>
    <hr>  
    <div class="align-middle mx-5 flex flex-wrap my-5">
      <div class="inline-block align-middle text-2xl w-full md:w-2/3">Spotify Video</div>
      <div style="color: #1ED75F;" class="inline-block mt-2 align-middle text-md w-full md:w-1/3 md:text-right tracking-widest font-medium uppercase">
        <%= link_to "Learn More", view_product_path("uk", "video") %>
      </div>
    </div>
    <hr>
    <div class="align-middle mx-5 flex flex-wrap my-5">
      <div class="inline-block align-middle text-2xl w-full md:w-2/3">Spotify for Students</div>
      <div style="color: #1ED75F;" class="inline-block mt-2 align-middle text-md w-full md:w-1/3 md:text-right tracking-widest font-medium uppercase">
        <%= link_to "Learn More", view_product_path("uk", "students") %>
      </div>
    </div>
    <hr>
    <div class="align-middle mx-5 flex flex-wrap my-5">
      <div class="inline-block align-middle text-2xl w-full md:w-2/3">Homepage</div>
      <div style="color: #1ED75F;" class="inline-block mt-2 align-middle text-md w-full md:w-1/3 md:text-right tracking-widest font-medium uppercase">
        <%= link_to "Learn More", root_url %>
      </div>
    </div>            
  </div>
  <div class="w-0 md:w-1/4"></div>
</div>
<br><br>