<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.typekit.net/nna8mac.css">

    <script type="text/javascript">
      window.onscroll = function() {scrollFunction()};

      var x = document.getElementById("responsive-links");

      function scrollFunction() {        
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          var x = document.getElementById("responsive-links");
          if (x.style.display === "block") {
            document.getElementById("navbar").style.backgroundColor = "#000";
            document.getElementById("navbar").style.opacity = "1";
          } else {
            document.getElementById("navbar").style.backgroundColor = "#363636";
            document.getElementById("navbar").style.opacity = "0.7";            
          }
        } else {
          document.getElementById("navbar").style.backgroundColor = "";
          document.getElementById("navbar").style.opacity = "1";
        }
      }
          

      function hamburgerMenu() {
        var x = document.getElementById("responsive-links");
        if (x.style.display === "block") {
          x.style.display = "none";
          document.getElementById("ham").style.display = "block";
          document.getElementById("cross").style.display = "none";
        } else {
          x.style.display = "block";
          document.getElementById("ham").style.display = "none";
          document.getElementById("cross").style.display = "block";
          document.getElementById("navbar").style.backgroundColor = "";
          document.getElementById("navbar").style.opacity = "1";   
        }
      }      
      

    </script>

  </head>

  <body>

    <% if flash[:notice] %>
      <div id="notice" class="w-full bg-black text-white text-center px-16 py-5 font-semibold">  
        <%= notice %>
      </div>
    <% end %>   

    <nav id="navbar" class="flex items-center justify-between flex-wrap px-5 md:px-16 py-1 w-full fixed bg-black md:bg-transparent">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="<%= root_path %>">
        <svg id="Layer_1" style="fill:#fff;enable-background:new 0 0 566.93 170.04" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 566.93 170.04" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" width="130" height="70" fill="#FFF"><path d="m87.996 1.277c-46.249 0-83.743 37.493-83.743 83.742 0 46.254 37.494 83.745 83.743 83.745 46.251 0 83.743-37.491 83.743-83.745 0-46.246-37.49-83.738-83.744-83.738zm38.404 120.78c-1.504 2.467-4.718 3.24-7.177 1.737-19.665-12.019-44.417-14.734-73.567-8.075-2.809 0.644-5.609-1.117-6.249-3.925-0.643-2.809 1.11-5.609 3.926-6.249 31.9-7.293 59.263-4.154 81.336 9.334 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.799c-1.894 3.073-5.912 4.037-8.981 2.15-22.505-13.834-56.822-17.841-83.447-9.759-3.453 1.043-7.1-0.903-8.148-4.35-1.04-3.453 0.907-7.093 4.354-8.143 30.413-9.228 68.221-4.758 94.071 11.127 3.07 1.89 4.04 5.91 2.15 8.976zm0.88-23.744c-26.994-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219-1.254-4.14 1.08-8.513 5.221-9.771 29.581-8.98 78.756-7.245 109.83 11.202 3.722 2.209 4.943 7.016 2.737 10.733-2.2 3.722-7.02 4.949-10.73 2.739z"/><path d="m232.09 78.586c-14.459-3.448-17.033-5.868-17.033-10.953 0-4.804 4.523-8.037 11.249-8.037 6.52 0 12.985 2.455 19.763 7.509 0.205 0.153 0.462 0.214 0.715 0.174 0.253-0.038 0.477-0.177 0.625-0.386l7.06-9.952c0.29-0.41 0.211-0.975-0.18-1.288-8.067-6.473-17.151-9.62-27.769-9.62-15.612 0-26.517 9.369-26.517 22.774 0 14.375 9.407 19.465 25.663 23.394 13.836 3.187 16.171 5.857 16.171 10.63 0 5.289-4.722 8.577-12.321 8.577-8.44 0-15.324-2.843-23.025-9.512-0.191-0.165-0.453-0.24-0.695-0.226-0.255 0.021-0.488 0.139-0.65 0.334l-7.916 9.421c-0.332 0.391-0.29 0.975 0.094 1.313 8.96 7.999 19.98 12.224 31.872 12.224 16.823 0 27.694-9.192 27.694-23.419 0.03-12.01-7.16-18.66-24.77-22.944z"/><path d="m294.95 64.326c-7.292 0-13.273 2.872-18.205 8.757v-6.624c0-0.523-0.424-0.949-0.946-0.949h-12.947c-0.523 0-0.946 0.426-0.946 0.949v73.602c0 0.523 0.423 0.949 0.946 0.949h12.947c0.522 0 0.946-0.426 0.946-0.949v-23.233c4.933 5.536 10.915 8.241 18.205 8.241 13.549 0 27.265-10.43 27.265-30.368 0.02-19.943-13.7-30.376-27.25-30.376zm12.21 30.375c0 10.153-6.254 17.238-15.209 17.238-8.853 0-15.531-7.407-15.531-17.238 0-9.83 6.678-17.238 15.531-17.238 8.81-0.001 15.21 7.247 15.21 17.237z"/><path d="m357.37 64.326c-17.449 0-31.119 13.436-31.119 30.592 0 16.969 13.576 30.264 30.905 30.264 17.511 0 31.223-13.391 31.223-30.481 0-17.031-13.62-30.373-31.01-30.373zm0 47.714c-9.281 0-16.278-7.457-16.278-17.344 0-9.929 6.755-17.134 16.064-17.134 9.341 0 16.385 7.457 16.385 17.351 0 9.927-6.8 17.127-16.17 17.127z"/><path d="m425.64 65.51h-14.247v-14.566c0-0.522-0.422-0.948-0.945-0.948h-12.945c-0.524 0-0.949 0.426-0.949 0.948v14.566h-6.225c-0.521 0-0.943 0.426-0.943 0.949v11.127c0 0.522 0.422 0.949 0.943 0.949h6.225v28.791c0 11.635 5.791 17.534 17.212 17.534 4.644 0 8.497-0.959 12.128-3.018 0.295-0.165 0.478-0.483 0.478-0.821v-10.596c0-0.327-0.17-0.636-0.45-0.807-0.282-0.177-0.633-0.186-0.922-0.043-2.494 1.255-4.905 1.834-7.6 1.834-4.154 0-6.007-1.886-6.007-6.113v-26.756h14.247c0.523 0 0.944-0.426 0.944-0.949v-11.126c0.02-0.523-0.4-0.949-0.93-0.949z"/><path d="m475.28 65.567v-1.789c0-5.263 2.018-7.61 6.544-7.61 2.699 0 4.867 0.536 7.295 1.346 0.299 0.094 0.611 0.047 0.854-0.132 0.25-0.179 0.391-0.466 0.391-0.77v-10.91c0-0.417-0.268-0.786-0.67-0.909-2.565-0.763-5.847-1.546-10.761-1.546-11.958 0-18.279 6.734-18.279 19.467v2.74h-6.22c-0.522 0-0.95 0.426-0.95 0.948v11.184c0 0.522 0.428 0.949 0.95 0.949h6.22v44.409c0 0.523 0.422 0.949 0.944 0.949h12.947c0.523 0 0.949-0.426 0.949-0.949v-44.406h12.088l18.517 44.398c-2.102 4.665-4.169 5.593-6.991 5.593-2.281 0-4.683-0.681-7.139-2.025-0.231-0.127-0.505-0.148-0.754-0.071-0.247 0.087-0.455 0.271-0.56 0.511l-4.388 9.627c-0.209 0.455-0.03 0.989 0.408 1.225 4.581 2.481 8.716 3.54 13.827 3.54 9.56 0 14.844-4.453 19.502-16.433l22.461-58.04c0.113-0.292 0.079-0.622-0.1-0.881-0.178-0.257-0.465-0.412-0.779-0.412h-13.478c-0.404 0-0.765 0.257-0.897 0.636l-13.807 39.438-15.123-39.464c-0.138-0.367-0.492-0.61-0.884-0.61h-22.12z"/><path d="m446.5 65.51h-12.947c-0.523 0-0.949 0.426-0.949 0.949v56.485c0 0.523 0.426 0.949 0.949 0.949h12.947c0.522 0 0.949-0.426 0.949-0.949v-56.481c0-0.523-0.42-0.949-0.95-0.949z"/><path d="m440.1 39.791c-5.129 0-9.291 4.152-9.291 9.281 0 5.132 4.163 9.289 9.291 9.289 5.127 0 9.285-4.157 9.285-9.289 0-5.128-4.16-9.281-9.28-9.281z"/><path d="m553.52 83.671c-5.124 0-9.111-4.115-9.111-9.112s4.039-9.159 9.159-9.159c5.124 0 9.111 4.114 9.111 9.107 0 4.997-4.04 9.164-9.16 9.164zm0.05-17.365c-4.667 0-8.198 3.71-8.198 8.253 0 4.541 3.506 8.201 8.151 8.201 4.666 0 8.201-3.707 8.201-8.253 0-4.541-3.51-8.201-8.15-8.201zm2.02 9.138l2.577 3.608h-2.173l-2.32-3.31h-1.995v3.31h-1.819v-9.564h4.265c2.222 0 3.683 1.137 3.683 3.051 0.01 1.568-0.9 2.526-2.21 2.905zm-1.54-4.315h-2.372v3.025h2.372c1.184 0 1.891-0.579 1.891-1.514 0-0.984-0.71-1.511-1.89-1.511z"/></svg>
      </a>
      </div>
      <div id="ham" class="block lg:hidden text-white text-2xl">
        <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()"><%= icon('fas', 'bars') %></a>
      </div>
      <div id="cross" class="block lg:hidden text-white text-2xl" style="display:none;">
        <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()"><%= icon('fas', 'times') %></a>
      </div>      
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
 
          <div id="responsive-links" class="text-white font-semibold text-3xl bg-black text-right h-screen" style="display:none;">
            <span class="text-3xl">
              <%= link_to "Premium", view_product_path("uk", "premium") %> <br>
              <%= link_to "Help", "https://support.spotify.com/" %> <br>
              <%= link_to "Web Player", "https://www.spotify.com/uk/redirect/webplayerlink/" %> <br>
              <%= link_to "Download", "https://www.spotify.com/uk/download/" %> <br>
              - <br>
            </span>
            <span class="text-xl">
              <%= link_to "Sign up", new_user_registration_path, class: "text-white" %> <br>
              <%= link_to "Log In", new_user_session_path, class: "text-white" %>  
            </span>          
          </div>  
        </div>
        <div class="text-white font-semibold hidden md:block">
          <%= link_to "Premium", view_product_path("uk", "premium") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Help", "https://support.spotify.com/" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Web Player", "https://www.spotify.com/uk/redirect/webplayerlink/" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Download", "https://www.spotify.com/uk/download/" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Sign up", new_user_registration_path, class: "text-white" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Log In", new_user_session_path, class: "text-white" %>
        </div>
      </div>
     
    </nav>  

    <%= yield %>

    <div class="w-full pt-10 px-16 bg-black text-gray-500 text-xs min-h-full flex flex-wrap pb-15">
      <div class="w-full md:w-1/2">
        <%= link_to "Legal", "https://www.spotify.com/uk/legal/" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "Cookies", "https://www.spotify.com/uk/legal/cookies-policy/" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to "About Ads", "https://www.spotify.com/uk/legal/privacy-policy/#s13" %>
      </div>
      <div class="w-full md:w-1/2 text-right">
        <div class="media-left media-middle mb-2">
          <a href="/languages">Choose language: </a>
          <% if cookies[:language] == "ro" %>
            <span class="text-white"><a href="/languages">Română</a></span>
          <% else %>
            <span class="text-white"><a href="/languages">English</a></span>
          <% end %>
          <br>
          <a href="/countries">Choose country: </a>
          <% if cookies[:country] == "ro" %>
            <span class="text-white"><a href="/countries">România &nbsp; <span class="media-object flag-icon flag-icon-ro"></span></a></span>
          <% else %>
            <span class="text-white"><a href="/countries">United Kingdom &nbsp; <span class="media-object flag-icon flag-icon-uk"></span></a></span>
          <% end %>
        </div>
        © Spotify (design) / Steve Farnworth (code)
        <br><br><br>
      </div>      
    </div>

    <% if flash[:notice] %>
    <script>
      setTimeout(function() {
        var loader = document.getElementById("notice");
        loader.style.WebkitTransition = 'visibility 1s, opacity 1s';
        loader.style.opacity = '0';
        loader.style.display = 'none';
      }, 3000);
    </script>
    <% end %>      

  </body>
</html>
